/* Color para Backgoround */
.bg-beige {
  background-color: #b5a484;
}

/* Color para Texto */
.text-beige {
  color: #b5a484
}

.card-img-top {
  width: 100%;         
  height: 400px;       
  object-fit: cover;   
}
