/* Estilo general del cuerpo del sitio */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo del encabezado */
  header {
    background-color: #b5a484;
    padding: 10px 0;
  }
  
  /* Estilo de la navegación */
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    margin-right: 40px;;
  }
  
  /* Título principal */
  h1 {
    text-align: center;
    color: #b5a484;
    margin-top: 60px;
  }
  
  /* Cada salón */
  div {
    border: 1px solid #b5a484;
    margin: 400px;
    margin-top: 80px;
    margin-bottom: 100px;
    padding: 80px;
    background-color: #fff;
    border-radius: 8px;
    }

  div h2{
    text-align: center;
    color: #b5a484;
  }

  div p{
    text-align: center;
  }
  
  /* Imágenes */
  img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 10px auto;
  }
  
  /* Footer */
  footer {
    background-color: #b5a484;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
  }